# Ignore everything
*

# But not these files...
!*.l
!*.bat
!*.y
!*.md
!main.cpp
!.gitignore
!CMakeLists.txt
!src/AST/*.cpp
!src/util/*.cpp
!include/*.hpp
!include/*.h
# we'll add sematic parser by name later not all .cpp for now

# ...even if they are in subdirectories
!*/